body { 
background: -moz-linear-gradient(45 grados, #CE5937 0%, #1C6EA4 100%, #C59237 100%);
background: -webkit-linear-gradient(45 grados, #CE5937 0%, #1C6EA4 100%, #C59237 100%);
background: linear-gradient(to right, #CE5937 0%, #1C6EA4 100%, #C59237 100%);
}

#titulo {
    text-align: center;
    font-size: xx-large;
    -webkit-box-shadow: 0px 0px 0px 8px #000000, 0px 0px 0px 16px #4B4C4B, 0px 0px 0px 24px #828482, 0px 0px 0px 31px #B2B5B2, 5px 5px 15px 5px rgba(80,255,241,0); 
    box-shadow: 0px 0px 0px 8px #000000, 0px 0px 0px 16px #4B4C4B, 0px 0px 0px 24px #828482, 0px 0px 0px 31px #B2B5B2, 5px 5px 15px 5px rgba(80,255,241,0);
    background: #1A94A4;
    }
    body#tinymce {
    background: #FFFFFF
    }

h2{
    text-align: center;
    font-size: x-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 50px;
    border-color: #000000;
    border: 5px, solid;
    border-style: solid;
}

#infoCuidado{
    background-color: #e7ad1b;
}

h1,
h3{
    text-align: center;
}

a{
    display: block;
    text-align: center;
    font-size: xx-large;
    margin: 50px;
}

img{
    display: block; /*Se esta definiendo la imagen como un bloque para que el navegador NO lo trate como un elemento de linea*/
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: #000000;
}

#rocky{
    border-style:groove;
    border-width: 10px;
    border-color: #e7ad1b;
}